<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easy_atten">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Default"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".AboutUs_Page" />
        <activity android:name=".calender_Activity" />
        <activity android:name=".PatternUnlock" />
        <activity android:name=".CardviewUI_Mentor" />
        <activity android:name=".feedback" />
        <activity android:name=".Attendance2" />
        <activity android:name=".ForgetPassword_Student" />
        <activity android:name=".SelectRollNo" />
        <activity android:name=".StudentInformationActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".SubjectList" />
        <activity android:name=".MentorAdminLogin" />
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mentor_signup" />
        <activity android:name=".student_signup" />
        <activity android:name=".mentor_btn_clicked" />
        <activity android:name=".student_btn_clicked" />
        <activity android:name=".CardviewStudent" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>